1.define a series with even values from 100 to 200 in descending order 
2.assign index to this series starting from 100
3.create a dataframe of random values of shape 8*6 . Assign index as numerical values and column names from a to f and using loc and iloc print values of rows 3,4 and columns b and e 
4. create a multi-index dataframe and 1st index is ["cse","IT"] and second index is 1 to 6 numbers. use 2 columns A,B and assign random values to it 
5.print the row value of number 4 from cse 
6.print the row value of 3,5 from IT
7.write a command where length if values in column HELLO is greater than 2

In [9]:
#1.define a series with even values from 100 to 200 in descending order 
#2.assign index to this series starting from 100

import pandas as pd
import numpy as np
s1 = pd.Series([i for i in range(100, 201) if i % 2 == 0])
s1.index = [i for i in range(100, 151)]
s1.sort_values(ascending = False)

150    200
149    198
148    196
147    194
146    192
145    190
144    188
143    186
142    184
141    182
140    180
139    178
138    176
137    174
136    172
135    170
134    168
133    166
132    164
131    162
130    160
129    158
128    156
127    154
126    152
125    150
124    148
123    146
122    144
121    142
120    140
119    138
118    136
117    134
116    132
115    130
114    128
113    126
112    124
111    122
110    120
109    118
108    116
107    114
106    112
105    110
104    108
103    106
102    104
101    102
100    100
dtype: int64

In [10]:
#3.create a dataframe of random values of shape 8*6 . Assign index as numerical values and column names from a to f and using loc and iloc print values of rows 3,4 and columns b and e 

df = pd.DataFrame(np.random.randint(0,100,size=(8, 6)), columns=list('ABCDEF'))
df.iloc[3:5, 1:5]

    B   C   D   E
3  21  41  18  40
4  36  85  18  83

In [11]:
#4. create a multi-index dataframe and 1st index is ["cse","IT"] and second index is 1 to 6 numbers. use 2 columns A,B and assign random values to it

arr = [np.array(["CSE","CSE","CSE","CSE", "CSE", "CSE","IT","IT","IT","IT","IT","IT"]),
                  np.array([1, 2, 3, 4, 5, 6, 1, 2 , 3, 4, 5, 6])]
tuples = list(zip(*arr))
tuples
index = pd.MultiIndex.from_tuples(tuples, names=["A", "B"] )
index
s = pd.Series(np.random.randn(12), index=index)
s

A    B
CSE  1   -0.650425
     2    0.816823
     3   -0.234105
     4    1.004435
     5   -0.009229
     6    0.354589
IT   1    0.456975
     2    0.755080
     3    0.013486
     4   -1.179041
     5    0.910248
     6   -0.717424
dtype: float64

In [12]:
#5.print the row value of number 4 from cse 

s["CSE"][4]

1.0044354897469678

In [13]:
#6.print the row value of 3,5 from IT

s["IT"][2:5]

B
3    0.013486
4   -1.179041
5    0.910248
dtype: float64